
.parent {
    width: 60vw;
    height: auto;
    margin: auto;
    margin-top: 100px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 18px;
}

.project-name {
    margin: 0;
    font-size: 1rem;
    font-weight: 400;
    color: #060606;
    text-align: center;
    margin-top: 20px;
    padding: 8px 18px;
    border: 1px solid rgba(0, 0, 0, .3);
    border-radius: 20px;
    background-color: #ffffff;
}
    
.div1 {
    grid-column: span 2 / span 2;
    grid-row: span 2 / span 2;
    display: flex;
    align-items: flex-end;
    padding: 0 20px 10px 10px;
    border-radius: 14px;
    border: 1px solid rgba(0, 0, 0, .1);
    background-color: rgb(187, 187, 187);
    background-image: url("../images/Wanderpath_thumbs_hero.webp");
    background-size: 500px;
    background-position: -30px -45px;
    text-align: justify;
    transition: background-position .5s, box-shadow .5s;
    box-shadow: inset 0 -20px 70px 40px rgba(0,0,0,.1);
}

.div1:hover {
    background-position: -30px -55px;
    box-shadow: inset 0 0 40px 40px rgba(2, 135, 11, 0.3);
}

.div2 {
    grid-row: span 3 / span 3;
    grid-column-start: 1;
    grid-row-start: 3;
    display: flex;
    align-items: flex-end;
    padding: 0 20px 10px 10px;
    border-radius: 14px;
    border: 1px solid rgba(0, 0, 0, .1);
    background-color: rgb(187, 187, 187);
    background-image: url("../images/Nextus_thumbs_hero.webp");
    background-size: 500px;
    background-position: -10px -50px;
    text-align: justify;
    transition: background-position .5s, box-shadow .5s;
    box-shadow: inset 0 -20px 70px 40px rgba(0,0,0,.1);
}

.div3 {
    background-color: rgb(187, 187, 187);
    grid-row: span 3 / span 3;
    grid-column-start: 2;
    grid-row-start: 3;
    border-radius: 14px;
    border: 1px solid rgba(0, 0, 0, .1);
}

.div4 {
    background-color: rgb(187, 187, 187);
    grid-row: span 5 / span 5;
    grid-column-start: 3;
    grid-row-start: 1;
    border-radius: 14px;
    border: 1px solid rgba(0, 0, 0, .1);
}

.div5 {
    background-color: rgb(187, 187, 187);
    grid-row: span 2 / span 2;
    grid-column-start: 4;
    grid-row-start: 1;
    border-radius: 14px;
    border: 1px solid rgba(0, 0, 0, .1);
}

.div6 {
    background-color: rgb(187, 187, 187);
    grid-row: span 3 / span 3;
    grid-column-start: 5;
    grid-row-start: 1;
    border-radius: 14px;
    border: 1px solid rgba(0, 0, 0, .1);
}

.div7 {
    background-color: rgb(187, 187, 187);
    grid-row: span 3 / span 3;
    grid-column-start: 4;
    grid-row-start: 3;
    border-radius: 14px;
    border: 1px solid rgba(0, 0, 0, .1);
}

.div8 {
    background-color: rgb(187, 187, 187);
    grid-row: span 2 / span 2;
    grid-column-start: 5;
    grid-row-start: 4;
    border-radius: 14px;
    border: 1px solid rgba(0, 0, 0, .1);
}

